
.bg-white {
    background-color: white !important;
}

.mt-40 {
    margin-top: 40px;
}

.remove-border-radius {
    border-radius: 0 !important;
}

.fixed-submenu {
    position: sticky;
    /* padding-top: 2px; */
    top: 40px;
    padding-bottom: 4px;
    z-index: 20;
    margin-bottom: 0px !important;
}

/* for stackable menu item that contains more than one child element - renders same row */
.menu-multi-item-responsive {
    justify-content: space-around;
    flex-grow: 1 !important;
}

.underline {
    border-bottom: gray 4px !important;
}

.binary-padding-capsule{
    margin-bottom: 3.5px !important;
    /* padding-right: .4rem; */
}